.submit {
    font-weight: 600;
    font-size: var(--font-textSize2);
    background-color: var(--brand-colors-brand1);
    margin-left: 250px;
    align-items: center;
    color: var(--grey-color-WhiteFixed);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.follow {
    background-color: var(--grey-color-WhiteFixed);
    color: var(--grey-color-grey1);
    border: 1px solid var(--grey-color-grey1);
    padding: 3px;
    border-radius: 2px;
    flex-direction: row;
}

.open--post {
    background-color: var(--grey-color-grey1);
    color: var(--grey-color-WhiteFixed);
    border: 1px solid var(--grey-color-grey1);
    padding: 5px;
    border-radius: 3px;
   
    flex-direction: row;
}

.button-heart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
